mixin getClass( options )
  - options = options || {}
  if options.className
    |  #{options.className}
  else if options.attr && options.attr.className
    |  #{options.attr.className}
mixin getAttrs( options )
  - options = options || {}
  - each val, key in options
    unless key == 'className' || key == 'tag'
      |  #{key}="#{val}"

//-
   âñå ïàðàìåòðû àíàëîãè÷íû òàêîâûì â b-button.tt
   êðîìå class -> className

- var button_tag  = 'span';
- var button_size = self.size ? self.size : 'normal'
- var button_color = self.color ? self.color : 'primary'
- var button_icon = self.icon ? self.icon : 'cart'
- var button_text = self.text ? self.text : ''

if self.attr
  if self.attr.type == 'button' || self.attr.type == 'submit'
    - button_tag = 'button'
  else if self.attr.href
    - button_tag = 'a'
  else if self.attr.tag
    - button_tag = self.attr.tag

| <#{button_tag} class="b-button-square
|  b-button-square_color_#{button_color}
|  b-button-square_size_#{button_size}
|  b-button-square_icon_#{button_icon}
if self.radius_none
  |  b-button-square_radius_none
if self.disabled
  |  b-button_hover_off
  |  b-button_state_disabled
+getClass(self)
|"
if self.attr
  +getAttrs(self.attr)
| >
if self.notifier
  span(
    class="b-button-square__notifier"
    class= self.notifier_bg ? 'b-button-square__notifier_bg_' + self.notifier_bg : ''
  )
    | #{self.notifier}
| </#{button_tag}>
